.footer {
  width: 100%;
  background-color: #4a4640;
  margin-top: 11rem;
}

.footer-main-part {
  width: 100%;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  box-shadow: 0 0.2rem 0.4rem rgba(155, 149, 140, 0.2);
  position: relative;
  z-index: 1;

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.footer-navigation-column {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .footer-brand-col {
    padding-top: 0.8rem;
    margin-right: 2.4rem;
    width: 22rem;

    img {
      width: 7rem;
      height: 3.4rem;
      object-fit: contain;
      object-position: left center;
      margin-bottom: 1.4rem;
    }

    .footer-copyright {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 2.2rem;
      color: #d7d4d1;
    }
  }

  .footer-nav-column {
    width: 22rem;

    .footer-nav-col-title {
      width: 100%;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 2.2rem;
      color: #ffffff;
      margin-bottom: 1.2rem;
    }

    &:not(:last-child) {
      margin-right: 2.4rem;
    }

    .footer-nav-col-list {
      width: 100%;

      .footer-nav-el {
        width: 100%;

        a {
          display: block;
          width: 100%;
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 2.2rem;
          color: #9b958c;
          transition: color 240ms;

          &:hover {
            color: rgba(255, 255, 255, 0.7)
          }
        }

        &:not(:last-child) {
          margin-bottom: 0.8rem;
        }
      }
    }
  }
}

.footer-info-expert-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  .info-expert-logo {
    width: 9rem;
    height: 5.6rem;
    object-fit: contain;
    object-position: right bottom;
    margin-bottom: 2.2rem;
  }

  .info-expert-link {
    display: block;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: right;
    color: #d7d4d1;
  }
}

.footer-bottom-panel {
  width: 100%;
  height: 4rem;

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-social-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .footer-social-icon {
      width: 2.4rem;
      height: 2.4rem;

      &:not(:last-child) {
        margin-right: 2.4rem;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        color: #9b958c;
        transition: color 240ms;

        &:hover {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}

.privacy-policy {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: right;
  color: #9b958c;
  transition: color 240ms;

  &:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}

@media screen and (max-width: 1024px) {
  .footer-navigation-column {
    flex-wrap: wrap;

    .footer-brand-col {
      width: 33.9rem;
      padding-top: 0;
    }

    .footer-nav-column {
      width: 21.8rem;
      margin-bottom: 2.4rem;
    }
  }

  .footer-info-expert-column {
    position: absolute;
    right: 4rem;
    bottom: 2.3rem;
  }

  .footer-bottom-panel {
    height: 5.6rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-navigation-column {
    .footer-brand-col {
      width: 24.2rem;
    }

    .footer-nav-column:not(:last-child) {
      width: 15.4rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .footer-navigation-column {
    .footer-brand-col {
      margin-bottom: 2.5rem;

      img {
        width: 6.4rem;
        height: 3.2rem;
      }
    }

    .footer-nav-column {
      margin-bottom: 1.3rem;
      margin-right: 0;
      width: 100%;

      &:not(:last-child) {
        width: 100%;
        margin-right: 0;
      }

      .footer-nav-col-title {
        margin-bottom: 1.3rem;
        padding-right: 3.6rem;
        position: relative;

        &.active:after {
          transform: translateY(-50%) rotateZ(180deg);
        }

        &:after {
          font-family: 'FOS-Icons', sans-serif !important;
          content: "\e903";
          position: absolute;
          top: 50%;
          right: 0.8rem;
          transform: translateY(-50%);
          font-size: 0.8rem;
          color: #d7d4d1;
          transition: transform 240ms;
        }
      }

      .footer-nav-col-list {
        padding-bottom: 1.3rem;
      }
    }
  }

  .footer-main-part {
    padding-bottom: 10.9rem;
  }

  .footer-info-expert-column {
    .info-expert-logo {
      width: 7.6rem;
      height: 4.8rem;
      margin-bottom: 1.6rem;
    }
  }

  .footer-nav-col-list {
    display: none;
  }

  .footer-bottom-panel {
    height: 9rem;

    .container {
      flex-direction: column;
      padding-top: 1.7rem;
      padding-bottom: 1.5rem;
      align-items: flex-start;
    }
  }
}